/ = link_to "Show this app", app
div class="col m-1 p-0"
  div.card.d-flex.flex-row.my-card
    = image_tag app.icon, class: 'my-card__placeholder-img card-img-top p-2'
    div.card-body.px-0.py-1
      h6.card-title.my-card__title.my-0
        = app.present? ? app.title : "Заголовок"
      p.card-text.my-card__description
        = app.present? ? app.description : "Краткое описание функций приложения"
    div.d-flex.justify-content-end.p-2.mt-auto.mb-0
      a.btn.btn-outline-primary.my-card__button.float-right.px-1.py-1 href="#" Купить
