div.apps-navigation.d-flex
  div.btn-group.ms-auto.me-auto role="group" aria-label="Basic outlined example"
    = link_to('Все приложения', apps_path, class: 'apps-navigation__button btn btn-primary')
    - games_category = Category.where(title: :Игры).first
    = link_to(games_category.title, apps_path(category_id: games_category.id), class: 'apps-navigation__button btn btn-primary')
    div.apps-navigation__button.btn-group role="group"
      button#btnGroupDrop1.btn.btn-primary.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false" Категории
      ul.dropdown-menu aria-labelledby="btnGroupDrop1"
        - Category.all.each do |category|
          li
            = link_to(category.title, apps_path(category_id: category.id), class: 'dropdown-item')
