div class="col m-1 p-0"
  div.card.d-flex.flex-row.my-card
    svg.my-card__placeholder-img.card-img-top aria-label=("Placeholder: Иконка") focusable="false" width="100%" preserveaspectratio=("xMidYMid slice") role="img" height="100%" xmlns="http://www.w3.org/2000/svg"
      title Иконка
      rect fill="#777" height="100%" width="100%"
      text dy=".3em" fill="#eee" x="50%" y="50%"  Иконка
    div.card-body.px-2.py-1
      h6.card-title.my-0 Заголовок
      p.card-text.my-card__description Краткое описание функций приложения
    div.d-flex.justify-content-end.p-2.mt-auto.mb-0
      a.btn.btn-outline-primary.my-card__button.float-right.px-1.py-1 href="#" Купить
