- @root_active = true

- content_for :main
  div.container.my-3
    #carouselExampleCaptions.carousel.slide.my-3 data-bs-ride="carousel"
      .carousel-indicators
        button.active aria-current="true" aria-label=("Slide 1") data-bs-slide-to="0" data-bs-target="#carouselExampleCaptions" type="button"
        button aria-label=("Slide 2") data-bs-slide-to="1" data-bs-target="#carouselExampleCaptions" type="button"
        button aria-label=("Slide 3") data-bs-slide-to="2" data-bs-target="#carouselExampleCaptions" type="button"
      .carousel-inner
        .carousel-item.active
          svg.my-carousel__placeholder-img.my-carousel__placeholder-img-lg.d-block.w-100 aria-label=("Placeholder: Первый слайд") focusable="false" height="400" preserveaspectratio=("xMidYMid slice") role="img" width="800" xmlns="http://www.w3.org/2000/svg"
            title Placeholder
            rect fill="#777" height="100%" width="100%"
            text dy=".3em" fill="#555" x="50%" y="50%"  Первый слайд
          .carousel-caption.d-none.d-md-block
            h5 Первая реклама / новость
            p Более подробное описание данной рекламы / новости.
        .carousel-item
          svg.my-carousel__placeholder-img.my-carousel__placeholder-img-lg.d-block.w-100 aria-label=("Placeholder: Второй слайд") focusable="false" height="400" preserveaspectratio=("xMidYMid slice") role="img" width="800" xmlns="http://www.w3.org/2000/svg"
            title Placeholder
            rect fill="#777" height="100%" width="100%"
            text dy=".3em" fill="#555" x="50%" y="50%"  Второй слайд
          .carousel-caption.d-none.d-md-block
            h5 Вторая реклама / новость
            p Более подробное описание данной рекламы / новости.
        .carousel-item
          svg.my-carousel__placeholder-img.my-carousel__placeholder-img-lg.d-block.w-100 aria-label=("Placeholder: Третий слайд") focusable="false" height="400" preserveaspectratio=("xMidYMid slice") role="img" width="800" xmlns="http://www.w3.org/2000/svg"
            title Placeholder
            rect fill="#777" height="100%" width="100%"
            text dy=".3em" fill="#555" x="50%" y="50%"  Третий слайд
          .carousel-caption.d-none.d-md-block
            h5 Третья реклама / новость
            p Более подробное описание данной рекламы / новости.
      button.carousel-control-prev data-bs-slide="prev" data-bs-target="#carouselExampleCaptions" type="button"
        span.carousel-control-prev-icon aria-hidden="true"
        span.visually-hidden Previous
      button.carousel-control-next data-bs-slide="next" data-bs-target="#carouselExampleCaptions" type="button"
        span.carousel-control-next-icon aria-hidden="true"
        span.visually-hidden Next

    form.d-flex.my-3
      input.my-mod-round-corners.form-control.me-2 type="search" placeholder="Поиск" aria-label="Поиск"
      button.my-mod-round-corners.btn.btn-outline-primary type="submit" Поиск

    div.apps-section.my-3
      div.d-flex.my-2
        h2.text-left.text-wrap.me-auto.my-0 Спонсорские предложения
        a.my-mod-round-corners.btn.btn-outline-primary.ms-auto.mb-auto href="#" Открыть все
      div class="row row-cols-auto mx-0 my-3"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"

      div.d-flex.my-2
        h2.text-left.text-wrap.me-auto.my-0 Новинки
        a.my-mod-round-corners.btn.btn-outline-primary.ms-auto.mb-auto href="#" Открыть все
      div class="row row-cols-auto mx-0 my-3"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"

      div.d-flex.my-2
        h2.text-left.text-wrap.me-auto.my-0 Выбор редакции
        a.my-mod-round-corners.btn.btn-outline-primary.ms-auto.mb-auto href="#" Открыть все
      div class="row row-cols-auto mx-0 my-3"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"

      div.d-flex.my-2
        h2.text-left.text-wrap.me-auto.my-0 Популярные приложения
        a.my-mod-round-corners.btn.btn-outline-primary.ms-auto.mb-auto href="#" Открыть все
      div class="row row-cols-auto mx-0 my-3"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"

      div.d-flex.my-2
        h2.text-left.text-wrap.me-auto.my-0 Топ за день
        a.my-mod-round-corners.btn.btn-outline-primary.ms-auto.mb-auto href="#" Открыть все
      div class="row row-cols-auto mx-0 my-3"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"

      div.d-flex.my-2
        h2.text-left.text-wrap.me-auto.my-0 Топ за неделю
        a.my-mod-round-corners.btn.btn-outline-primary.ms-auto.mb-auto href="#" Открыть все
      div class="row row-cols-auto mx-0 my-3"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"

      div.d-flex.my-2
        h2.text-left.text-wrap.me-auto.my-0 Топ за месяц
        a.my-mod-round-corners.btn.btn-outline-primary.ms-auto.mb-auto href="#" Открыть все
      div class="row row-cols-auto mx-0 my-3"
        = render "app_card"
        = render "app_card"
        = render "app_card"
        = render "app_card"
