- @adv_active = true

- content_for :main do
  div.container.my-3.fs-1.fw-bolder
    .row.row-cols-1
      .col.p-2
        .my-block__content.p-3
          | Главная новость для рекламодателей
    .row.row-cols-1.row-cols-lg-2
      .col.p-2
        .my-block__content.p-3
          | Документация и гайды
      .col.p-2
        .my-block__content.p-3
          | Новость 1
