@import "bootstrap";
@import "bootstrap-icons";
@import "bootstrap/variables";

// Main

$color-bg: rgb(240, 240, 240);
$color-shadow: rgba(0, 0, 0, 0.3);
$shadow: 0 8px 16px 0 $color-shadow;

// Content

$color-bg-content: rgb(230, 230, 230);
$color-border-content: rgb(210, 210, 210);
$color-text-content: rgb(180, 180, 180);
$outline-content: 2px solid $color-border-content;

// Block

$color-border-block: rgb(220, 220, 220);
$color-text-dark: rgb(100, 100, 100);

//

html, body {
  background-color: $color-bg !important;
  min-height: 100%;
  height: 100%;
}

footer {
  background-color: none;

  & > .my-block__footer {
    background-color: $color-bg-content;
    border-top: 1px solid $color-border-content;
  }
}

.my-block__container {
  width: 100%;
  max-width: 100%;
}

.my-block__content {
  width: 100%;
  max-width: 100%;
  min-height: 480px;
  margin: auto;
  border-radius: 1rem;
  border: 4px dashed $color-border-content;
  color: $color-text-content;
  background-color: $color-bg-content;
  cursor: pointer;

  &:hover {
    border: 4px solid $color-bg-content;
    box-shadow: $shadow;
    color: $color-text-dark;
    background-color: $color-bg-content;
    outline: $outline-content;
  }
}

.my-block__center {
  width: 100%;
  max-width: 400px;
  margin: auto;
  border-radius: 1rem;
  border: 1px solid $color-border-block;
  box-shadow: $shadow;

  & > .error-messages {
    display: none;
  }
}

.my-block__prototype-info {
  border-top: 2px dashed $color-border-block;
  color: $color-text-dark;
}

.logout-form > button {
  background: none;
  border: none;
}

.profile-buttons {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
}

// Carousel

.my-carousel__placeholder-img {
  font-size: 2rem;
  text-anchor: middle;
  user-select: none;
}

@media (min-width: 768px) {
  .my-carousel__placeholder-img-lg {
    font-size: 3.5rem !important;
  }
}

.carousel {
  border-radius: 1rem;
  overflow: hidden;
}

// Cards

.my-card {
  border-radius: 0.5rem;
  border: none;
  overflow: hidden;
  outline: 1px solid $color-border-block;
  cursor: pointer;

  transition: all .1s;

  &:hover {
    transform: scale(1.025);
    box-shadow: $shadow;
    outline: 1px solid $color-border-content;
    z-index: 1000;
  }

  @media (min-width: 0px) {
    & {
      width: 19.7rem;
    }
  }

  @media (min-width: 992px) {
    & {
      width: 19rem;
    }
  }

  @media (min-width: 1200px) {
    & {
      width: 19.7rem;
    }
  }
}

.my-card__placeholder-img {
  font-size: 0.8rem;
  text-anchor: middle;
  user-select: none;
  border-radius: 0;
  width: 64px;
  min-width: 64px;
  height: 64px;
  min-height: 64px;
}

.my-card__description {
  font-size: 0.8rem;
  color: $color-text-dark;
  line-height: 1.2;
}

.my-card__button {
  font-size: 0.8rem;
}
