$navbar-padding-x: 1rem;

@import "bootstrap";
@import "bootstrap-icons";

.my-block__center {
  width: 100%;
  max-width: 400px;
  margin: auto;
  border-radius: 1rem;
  border: 1px solid lightgray;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
}

.my-block__info {
  width: 100%;
  max-width: 640px;
  margin: auto;
  border-radius: 1rem;
  border: 2px dashed lightgray;
  color: rgb(100, 100, 100);
}

.my-block__center > .error-messages {
  display: none;
}

.logout-form > button {
  background: none;
  border: none;
}

.profile-buttons {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
}
