$navbar-padding-x: 1rem;

@import "bootstrap";

.brand-text__custom {
  padding-left: 0.5rem;
};

.navbar-buttons__custom {
  margin-left: auto;
  margin-right: 0;
};

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  border-radius: 1rem;
  border: 1px solid lightgray;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
}

.form-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.logout-form > button {
  background: none;
  border: none;
}

.profile-buttons {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  border-radius: 0.5rem;
}
